<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aps-environment</key>
    <string>development</string>
    <key>com.apple.developer.associated-appclip-app-identifiers</key>
    <array>
      <string>$(AppIdentifierPrefix)app.baconet.Clip</string>
    </array>
    <key>com.apple.developer.associated-domains</key>
    <array>
      <string>applinks:bacon-baconnet.ngrok.io?mode=developer</string>
      <string>webcredentials:bacon-baconnet.ngrok.io?mode=developer</string>
      <string>activitycontinuation:bacon-baconnet.ngrok.io?mode=developer</string>
      <string>applinks:bacon-baconnet.ngrok.io?mode=developer?mode=developer</string>
      <string>activitycontinuation:bacon-baconnet.ngrok.io?mode=developer?mode=developer</string>
      <string>applinks:baconet.netlify.app</string>
      <string>webcredentials:baconet.netlify.app</string>
      <string>activitycontinuation:baconet.netlify.app</string>
      <string>appclips:baconet.netlify.app</string>
      <string>applinks:everywhere.run</string>
      <string>webcredentials:everywhere.run</string>
      <string>activitycontinuation:everywhere.run</string>
      <string>appclips:everywhere.run</string>
    </array>
  </dict>
</plist>