<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:f1b77ac7dd35.ngrok.io?mode=developer</string>
		<string>webcredentials:bacon-baconnet.ngrok.io?mode=developer</string>
		<string>activitycontinuation:bacon-baconnet.ngrok.io?mode=developer</string>
		<string>applinks:baconet.netlify.app</string>
		<string>webcredentials:baconet.netlify.app</string>
		<string>activitycontinuation:baconet.netlify.app</string>
	</array>
</dict>
</plist>
